body{
    background-image: linear-gradient(to right,#24d7e4, #6157ee);
}
h1 {
    width: fit-content;
    padding: 10px;
    margin: auto;
    background-color: rgb(70, 81, 224);
    border-radius: 5px;
    text-shadow: 0 0 3px rgb(219, 38, 38);
    font-style: italic;
}
.article{
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    text-align: justify;
}
a:hover{
    opacity: 0.5;
}
h1:hover{
    opacity: 0.5;
}
.article img{
    border-radius: 10px;
    margin-left: 2rem;
    width: 700px;
    height: 400px;
    margin-top: 40px;
}
.article p{
    border-radius: 10px;
    margin: 40px;
}
img{
    transition: .4s ease-in;
}
img:hover{
    transform: scale(1.05);
}
h1.foot{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.foot .previous{
    margin-right: 38rem;
}
.foot .next{
    margin-left: 38rem;
}
footer {
    width:fit-content;
    padding: 10px;
    margin: auto;
    background-color: yellow;
    background-image: linear-gradient(to right,#24d7e4, #6157ee );
    border-radius: 5px;
    text-shadow: 0 0 3px rgb(111, 112, 116);
    font-style: italic;
     font-weight: bolder;
     font-size: 20px;
}
footer a{
    text-decoration: none;
}
.small {
    display: flex;
}